[2021-03-31 17:58] QYuQianchen opened #1 "Overview of HOPR transfers on xDai"
_The following is an issue for bounty, meant for external contributors to pick up and work on the analytics of HOPR tokens._
_Click [here](https://gitcoin.co/hoprnet) to check all the bounties and [here](https://hoprnet.jobbase.io/) to check all the open positions at HOPR._

# Introduction
Recently our community has launched a [three-phase token distribution](https://medium.com/hoprnet/the-hopr-to

[2021-03-31 18:01] QYuQianchen opened #2 "Position of HOPR early adopters (Genesis DAO members)"
_The following is a bounty issue, meant for external contributors to pick up and work on the analytics of HOPR tokens._

# Introduction
Recently our community has launched a [three-phase token distribution](https://medium.com/hoprnet/the-hopr-token-launch-5afed592b741) on xDai chain and Ethereum blockchain at the end of February 2021. More than 30,000 of transactions were generated from various de

[2021-03-31 18:04] QYuQianchen opened #3 "HOPR Price development"
_The following is a bounty issue, meant for external contributors to pick up and work on the analytics of HOPR tokens._

# Introduction
Recently our community has launched a [three-phase token distribution](https://medium.com/hoprnet/the-hopr-token-launch-5afed592b741) on xDai chain and Ethereum blockchain at the end of February 2021. More than 30,000 of transactions were generated from various de

[2021-04-02 09:26] javipus commented on #3
Hi! I'm interested in working on this issue. What API would you prefer to pull historical price data from? Also, do you recommend taking the average of several markets to get an overall picture or are you more interested in looking at particular exchanges?

[2021-04-07 18:29] t0bij commented on #2
@gitcoinbot - yes, got the approval today ;)

[2021-04-13 14:10] t0bij commented on #2
@QYuQianchen - my understanding of the definition of complete is that it's mandatory to visualize data from xDai and Ethereum mainnet together in charts and tables. Currently DuneAnalytics has no feature to combine both sources in a single chart or query. It's always either xDai or mainnet. I first thought that I might missed out a feature but a community manager on their Discord confirmed my unde

[2021-04-15 08:28] QYuQianchen commented on #2
Hey @t0bij ! That's indeed a problem. We didn't really have such a problem in the past, where the exact same array of addresses need to be used across chains. Maybe, just an idea, to build an array that contains all the gHOP users (retrieved from a different query, or inserted manually)
[code]
and parse them when using:
[code]

[2021-04-16 19:42] QYuQianchen opened #4 "Behavior on rewards from HOPR liquidity mining program ("HOPR Farm")"
_The following is a bounty issue, meant for external contributors to pick up and work on the analytics of HOPR tokens._

# Introduction
Recently our community has launched a [three-phase token distribution](https://medium.com/hoprnet/the-hopr-token-launch-5afed592b741) on xDai chain and Ethereum blockchain at the end of February 2021. More than 30,000 of transactions were generated from various de

[2021-04-19 11:02] t0bij commented on #2
@gitcoinbot I'm still working on it and will submit it for review soon.

[2021-04-19 13:19] QYuQianchen opened #5 "HOPR-DAI Uniswap trading patterns"
_The following is a bounty issue, meant for external contributors to pick up and work on the analytics of HOPR tokens._

# Introduction
Recently our community has launched a [three-phase token distribution](https://medium.com/hoprnet/the-hopr-token-launch-5afed592b741) on xDai chain and Ethereum blockchain at the end of February 2021. More than 30,000 of transactions were generated from various de

[2021-04-20 08:27] QYuQianchen opened #6 "Genesis DAO member on HoprFarm and trading activites associated with Farm"
_The following is a bounty issue, meant for external contributors to pick up and work on the analytics of HOPR tokens._

# Introduction
Recently our community has launched a [three-phase token distribution](https://medium.com/hoprnet/the-hopr-token-launch-5afed592b741) on xDai chain and Ethereum blockchain at the end of February 2021. More than 30,000 of transactions were generated from various de

[2021-04-20 08:43] QYuQianchen opened #7 "HOPR Twitter engagement"
_The following is an issue for bounty, meant for external contributors to pick up and work on the analytics of HOPR tokens. _
_Click [here](https://gitcoin.co/hoprnet) to check all the bounties and [here](https://hoprnet.jobbase.io/) to check all the open positions at HOPR._

# Introduction
[HOPR's twitter account ](https://twitter.com/hoprnet) has over 15,000 followers. It is an important news ou

[2021-04-20 21:50] t0bij commented on #2
@QYuQianchen - you can find a WIP dashboard for data from xDai here: https://duneanalytics.com/t0b/hopr_dao_members_xdai_base

In addition I wrote you a message on TG.

[2021-04-24 10:03] QYuQianchen commented on #3
HOPR price can be calculated from Uniswap HOPR-DAI pool, which is the most active pool with the largest liquidity.

[2021-04-25 00:52] L-KH commented on #3
@QYuQianchen , I tried to submit my work but I only get the "stop work" button.
here is my submission : https://github.com/L-KH/HOPR-Price

[2021-04-25 10:16] seii-saintway commented on #3
![image](https://user-images.githubusercontent.com/3340161/115989719-ab57d800-a5fa-11eb-8659-5bc0e21e1908.png)

[2021-04-25 10:18] seii-saintway commented on #3
This is the reason.
![image](https://user-images.githubusercontent.com/3340161/115989768-ed811980-a5fa-11eb-98d6-dcdffa8fcc2f.png)

[2021-04-27 14:28] bobu4 commented on #4
![image](https://user-images.githubusercontent.com/48527047/116258782-eb939380-a77d-11eb-9656-fc95be7374b4.png)

[2021-04-28 16:00] bobu4 commented on #4
![image](https://user-images.githubusercontent.com/48527047/116435472-0f290d80-a854-11eb-96e8-9df5b0c1b1b5.png)

[2021-04-28 19:10] t0bij commented on #2
@gitcoinbot - the reminders went to my spam but I whitelisted the address now.

I'm still working on the bounty. I added a dashboard for the mainnet. The boards should contain all the data needed for the definition of complete. @QYuQianchen maybe you can have a look before I combine them. I also have some more ideas which aren't in the original list.

xDai: https://duneanalytics.com/t0b/hopr_dao_m

[2021-04-30 08:13] d10-cat opened #8 "Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done"
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 185.0 HOPR (109.39 USD @ $0.59/HOPR)  attached to it as part of the hoprnet fund.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](https://gitcoin.co/issue/hoprnet/hopr-analytics/7/100025611).
* Want to chip in? Add your own contribution [here](ht

[2021-04-30 08:17] d10-cat commented on #8
Normally I wouldn’t do this bad for Bussiness on my side

honestly you guys need to do and epic airdrop
That would increase your following by x3.5 if you go all out give away 1500000 coins they’re going to be traded and spent then fork your burn pile auto regain revenue I expect gratuity I just saved you months

[2021-05-02 16:18] bobu4 commented on #4
I'm still on.

[2021-05-02 23:48] t0bij commented on #2
@QYuQianchen - I submitted dashboard https://duneanalytics.com/t0b/DAO-Members

As we discussed earlier DuneAnalytics currently has no feature to combine xDai and mainnet data in a single chart or query. I worked around this issue by a fixed list of DAO members in mainnet queries. Furthermore some queries are semi-automatic. I created 2 queries which export data from mainnet or xDai as JSON:

DAO

[2021-05-03 13:50] QYuQianchen commented on #8
Close due to irrelevance to the purpose of the repo.

[2021-05-03 13:50] #8 closed

[2021-05-03 14:06] QYuQianchen opened #9 "Overview of HOPR transfers on Ethereum and the bridge"
_The following is an issue for bounty, meant for external contributors to pick up and work on the analytics of HOPR tokens._
_Click [here](https://gitcoin.co/hoprnet) to check all the bounties and [here](https://hoprnet.jobbase.io/) to check all the open positions at HOPR._

# Introduction
Recently our community has launched a [three-phase token distribution](https://medium.com/hoprnet/the-hopr-to

[2021-05-03 14:06] QYuQianchen commented on #1
Devide this bounty into 2. The other half can be found in [issue](https://github.com/hoprnet/hopr-analytics/issues/9)

[2021-05-06 09:20] QYuQianchen commented on #3
Token swap data can be extracted with [Uniswap V2 subgraph](https://thegraph.com/explorer/subgraph/uniswap/uniswap-v2). Uniswap provides a [detailed documentation](https://uniswap.org/docs/v2/API/queries/ )

An example query is
[code]

[2021-05-06 15:34] L-KH commented on #3
@QYuQianchen , hey, did you check my submission? https://github.com/hoprnet/hopr-analytics/issues/3#issuecomment-826179511

[2021-05-06 17:16] veusti75 commented on #7
I'm still working on it

[2021-05-06 17:22] veusti75 commented on #7
I'm still working on it

[2021-05-06 19:39] Eleonora0119 commented on #3
@QYuQianchen it was a great hint, thank you!

[2021-05-08 09:49] Eleonora0119 commented on #3
Unfortunately, the HOPR-DAI Uniswap link (https://info.uniswap.org/pair/0x92c2fc5f306405eab0ff0958f6d85d7f8892cf4d) is blank for 2 days :(

[2021-05-08 15:05] QYuQianchen commented on #3
Have a try with https://v2.info.uniswap.org/pair/0x92c2fc5f306405eab0ff0958f6d85d7f8892cf4d
As uniswap V3 is just introduced, the old URL is replaced.

[2021-05-08 17:13] bobu4 commented on #4
Still on.

[2021-05-12 03:50] seii-saintway commented on #3
* Token Code: POHR
* Goal: To raise the market attention for HOPR.
H ← O ← P － R ’s community token
* Meme: POny is HoRse definitely. HOPR belongs to DAO. POHR belongs to users.

# PIP-1 draft
* Total Volume: 1,000,000,000,000,000 pohr
* Starting Market Cap: 1,000,000 cusd
* Roadmap:
1. Launch ido on bsc or the mobile payment chain celo to publicly sell 500,000,000,000,000 pohrs at a price of 0.00

[2021-05-12 09:24] QYuQianchen commented on #2
Hi @t0bij Interesting walk around of the cross-chain issue! While looking at your approach, I'm thinking, if it would be easier to use [Dune's "Labels"](https://duneanalytics.com/queries/41187), which marks accounts with "HOPR genesis DAO member", "HOPR Avado airdrop", etc.

Then in queries, DAO members' addresses can be retrieved with `WHERE EXISTS` clause.

What do you think?

[2021-05-12 10:57] SCBuergel opened #14 "[Bounty] Improve Uniswap analysis (HOPR Farm) on Dune: remove minute-based analysis"
_The following is an issue for bounty, meant for external contributors to pick up and work on the analytics of HOPR tokens._
_Click [here](https://gitcoin.co/hoprnet) to check all the bounties and [here](https://hoprnet.jobbase.io/) to check all the open positions at HOPR._

# Introduction

Followed by HOPR's [token launch](https://etherscan.io/token/0xf5581dfefd8fb0e4aec526be659cfab1f8c781da), a

[2021-05-12 11:04] SCBuergel opened #15 "Which days of the week are most effective for HOPR?"
Let's analyze best day of the week across platforms and channels. So far we assumed weekends would be great - based on early observations. I now feel it's the opposite observing Twitter, TG, Uniswap. All 3 could be analyzed in a quantitative fashion:

Analyze the following per day of the week:
1. Engagement per Tweet
2. TG msgs per day
3. Uniswap trades and trade volume

We had a couple of outlier

[2021-05-12 11:04] SCBuergel opened #16 "[Bounty] Where do Uniswap traders come from? DEX Agregators?"
_The following is an issue for bounty, meant for external contributors to pick up and work on the analytics of HOPR tokens._
_Click [here](https://gitcoin.co/hoprnet) to check all the bounties and [here](https://hoprnet.jobbase.io/) to check all the open positions at HOPR._

# Task Description
[HOPR-DAI Uniswap pool](https://info.uniswap.org/pair/0x92c2fc5f306405eab0ff0958f6d85d7f8892cf4d) was cre

[2021-05-12 15:00] QYuQianchen commented on #2
I just went though all the queries of your dashboard. AMAZING job! Really IMPRESSIVE!

Could you please help me better understand the following:
1.  In "[inflow sources](https://duneanalytics.com/queries/41192/81109)" query, "transfer from other accounts" is not a kind of "source" right? For example, account `0x0f9fF5028ef1Aa963C965632F0Bc113A140e63d2` has received some tokens from other Genesis D

[2021-05-14 14:16] QYuQianchen commented on #7
PR merged #21

[2021-05-14 20:45] bobu4 commented on #4
On

[2021-05-17 05:45] QYuQianchen commented on #5
Hi @Vicky-1207. Thanks for the [submission](https://duneanalytics.com/vickyzyyy/normalized_transactions)! I only have a few cosmetics suggestions:

1. Could you please change the dashboard name from "normalized_transactions" to "HOPR-DAI Uniswap trading patterns"? (On the dashboard interface -> `Edit` -> `Settings` -> `Dashboard title`)
2. Add tags "HOPR", "Uniswap", "DEX" and "trade"? (On the das

[2021-05-17 05:53] QYuQianchen opened #22 "[Bounty] Create Subgraph that indexes HoprChannel"
_The following is an issue for bounty, meant for external contributors to pick up and work on the analytics of HOPR tokens._
_Click [here](https://gitcoin.co/hoprnet) to check all the bounties and [here](https://hoprnet.jobbase.io/) to check all the open positions at HOPR._

# Introduction
[The HOPR protocol](https://hoprnet.org/) provides network-level and metadata privacy for every kind of data

[2021-05-17 07:33] QYuQianchen commented on #1
Hi @niklr! As you've already included your work on xDAI in your submission for issue #9. Could you please also apply for this bounty?

Also, as your PR #13 is merged and deployed. Could you extend your application and include "the amount of token being transferred per transaction" along with "the number of token transfers"?

[2021-05-17 07:36] QYuQianchen commented on #9
Thanks for the submission! It fulfils all our requirements. We'd like to include some tips for your additional proposal on the subgraph.

[2021-05-17 08:54] niklr commented on #1
Hey @QYuQianchen! Thanks for the feedback! I will change the application so that multiple data sources are possible; The Graph, RPC and local JSON. First it will try to get live data from The Graph, if this should fail the app will check if an RPC endpoint is configured and if so use it. In case this should fail as well, the last resort will be local JSON files with stale data (as it is now).

I a

[2021-05-17 13:37] QYuQianchen commented on #7
Bounty completed and [paid](https://etherscan.io/tx/0x30d0d1b28f5270e0a27a13a5ebb74b794cefdd93c0408ec3c89083e486841f74).

[2021-05-17 13:37] #7 closed

[2021-05-17 14:46] QYuQianchen commented on #3
@Eleonora0119 Could you please create a pull request (PR) to this folder and provide a minimum description in the `README.md` file?

[2021-05-17 15:30] QYuQianchen commented on #2
Three more cosmetics suggestions (Numbered following the previous comment):

4. Could you please change the dashboard name to "Position of HOPR DAO Members"? (On the dashboard interface -> `Edit` -> `Settings` -> `Dashboard title`)
5. Add tags "HOPR", "Uniswap", "DEX" and "trade"? (On the dashboard interface -> `Edit` -> `Settings` -> `Dashboard tags`)
6. Add a text component that describes the pu

[2021-05-17 15:50] QYuQianchen commented on #9
Successfully close this bounty.

[2021-05-17 15:50] #9 closed

[2021-05-17 17:28] t0bij commented on #2
Hi @QYuQianchen, thanks for the feedback and your input. I'll address your points asap. By the end of the week at latest.

[2021-05-18 14:32] QYuQianchen commented on #5
Hi @Vicky-1207 your bounty is paid out. To complete close this issue, could you please create a [pull request](https://guides.github.com/activities/hello-world/#pr) to save all your source codes in a subfolder?

[2021-05-19 08:18] niklr commented on #1
Just a short update: I'm currently experimenting with [NetV.js](https://netv.zjuvag.org/) and [Stardust](https://stardustjs.github.io/) to render the network graph with WebGL. So far it looks very promising!

[2021-05-20 10:29] QYuQianchen commented on #14
Detailed description

[2021-05-20 13:44] bobu4 commented on #4
On

[2021-05-22 14:45] QYuQianchen commented on #4
Hi @bobu4! Please create a WIP PR to the `main` branch of `hopr-analtyics` repo, with the following steps:
1. Fork `hopr-analytics` repo to your local machine.
2. Create a branch `farm-rewards-behavior`.
3. On the said branch, create a subfolder `farm-rewards-behavior`and add your source code there.
4. Commit your code and push to remote.
5. Create a WIP PR with https://github.com/hoprnet/hopr-ana

[2021-05-23 14:36] t0bij commented on #2
Hi @QYuQianchen ,

again, thanks for your valuable feedback. I finally found the time to check it.

First, using Dune's Labels definitely would make things easier for static groups like "HOPR genesis DAO member". Great idea.

Regarding your numbered feedback:

**1)** exactly, transfers from/to other accounts is not part of the final dashboard. In https://duneanalytics.com/t0b/hopr_dao_members_xdai

[2021-05-24 06:13] niklr commented on #1
![0XVuOK54BW](https://user-images.githubusercontent.com/4712166/119303369-e7b43d80-bc65-11eb-9c50-b9736636992f.gif)

Visualization is almost done. Next will be the integration with TheGraph to extend the transfer information with the actual timestamp.

[2021-05-26 17:56] ManyRios commented on #22
Working

[2021-05-27 19:04] omnianalytics commented on #15
You can view our solution here:  https://github.com/Omni-Analytics-Group/hopr-analytics-bounty/tree/main

[2021-05-31 16:16] ManyRios commented on #22
Yes @gitcoinbot

[2021-06-02 17:24] ManyRios commented on #22
.

[2021-06-06 19:16] ManyRios commented on #22
Yep

[2021-06-07 09:52] QYuQianchen commented on #22
Hi @ManyRios. Could you please create a WIP PR with your current code base to the repo?

[2021-06-07 10:19] QYuQianchen commented on #15
Hi @omnianalytics Please create a PR to the repo.

[2021-06-07 14:39] omnianalytics commented on #15
Hi @QYuQianchen , @erichare created a PR for our submission:

https://github.com/hoprnet/hopr-analytics/pull/32

[2021-06-08 18:40] ManyRios commented on #22
Hi, ok I will

[2021-06-10 06:51] QYuQianchen commented on #22
Hi @ManyRios I don't think i've received it. Could you please communicate in this thread?

[2021-06-10 06:55] QYuQianchen commented on #4
Hi @bobu4 Please create a WIP PR as described before until 18 June. Without a WIP PR, we would unfortunately assign this task to other community member. Thank you for your understanding :)

[2021-06-10 07:07] QYuQianchen commented on #1
Thank you @niklr for the amazing work and the [interview](https://twitter.com/hoprnet/status/1400025895428149251?s=20)!

[2021-06-10 07:07] #1 closed

[2021-06-10 10:27] #2 closed

[2021-06-10 10:33] #14 closed

[2021-06-10 10:34] QYuQianchen commented on #15
Left a message in the PR #32

[2021-06-10 10:34] #16 closed

[2021-06-10 11:19] QYuQianchen opened #33 "[Bounty] Token provenance and destination of Genesis DAO over time"
_The following is an issue for bounty, meant for external contributors to pick up and work on the analytics of HOPR tokens._
_Click [here](https://gitcoin.co/hoprnet) to check all the bounties and [here](https://hoprnet.jobbase.io/) to check all the open positions at HOPR._

# Introduction
Previously a detailed analysis on the ["position of HOPR DAO members"](https://github.com/hoprnet/hopr-analyt

[2021-06-11 07:11] #5 closed

[2021-06-11 07:22] QYuQianchen commented on #15
Thank you for your submission @omnianalytics @erichare. The bounty has been paid out.

[2021-06-11 11:47] QYuQianchen commented on #14
Hi @dtcarls Please submit your work on Gitcoin.

[2021-06-12 21:07] ManyRios commented on #22
I'll make the PR today, sorry for the delay

[2021-06-15 03:44] ManyRios commented on #22
almost ready to deploy

[2021-06-15 21:27] ManyRios commented on #22
I sent a email to  tech@hoprnet.org

[2021-06-16 05:04] sriram-vasudevan commented on #33
When will contributors be intimated if they are accepted?

[2021-06-17 19:39] ManyRios commented on #22
Waiting :)

[2021-06-18 08:24] jjperezaguinaga commented on #22
@ManyRios ah! Sorry about that, will give you an update today :)

[2021-06-18 09:25] nionis commented on #22
posting here the issue @ManyRios has:

[code]

[2021-06-18 23:45] ManyRios commented on #22
That's right

[2021-06-21 07:52] jjperezaguinaga commented on #22
Following up here on some comments from @nionis

these ones seem to be `Annoucement` and `ChannelUpdate`. Can you give that a try? Furthermore, it would be great to have a PR attached to this issue so we can replicate this error locally and see how we can help :)

[2021-06-21 16:41] ManyRios commented on #22
Ok, I will

[2021-06-23 09:06] jjperezaguinaga commented on #22
@ManyRios Let us know if you have an update here, would be great to have a PR or something we can take a look and support as needed ☺️

[2021-06-23 17:51] ManyRios commented on #22
`graph codegen
  Skip migration: Bump mapping apiVersion from 0.0.1 to 0.0.2
  Skip migration: Bump mapping apiVersion from 0.0.2 to 0.0.3
  Skip migration: Bump mapping apiVersion from 0.0.3 to 0.0.4
  Skip migration: Bump mapping specVersion from 0.0.1 to 0.0.2
√ Apply migrations
× Failed to load subgraph from subgraph.yaml: Error in subgraph.yaml:

  Path: dataSources > 0 > eventHandlers > 0

[2021-06-23 17:56] ManyRios commented on #22
Skip migration: Bump mapping apiVersion from 0.0.1 to 0.0.2
  Skip migration: Bump mapping apiVersion from 0.0.2 to 0.0.3
  Skip migration: Bump mapping apiVersion from 0.0.3 to 0.0.4
  Skip migration: Bump mapping specVersion from 0.0.1 to 0.0.2
√ Apply migrations
× Failed to load subgraph from subgraph.yaml: Error in subgraph.yaml:

  Path: dataSources > 0 > eventHandlers > 0
  Event with signat

[2021-06-23 17:57] ManyRios commented on #22
here is the the output:

graph codegen
  Skip migration: Bump mapping apiVersion from 0.0.1 to 0.0.2
  Skip migration: Bump mapping apiVersion from 0.0.2 to 0.0.3
  Skip migration: Bump mapping apiVersion from 0.0.3 to 0.0.4
  Skip migration: Bump mapping specVersion from 0.0.1 to 0.0.2
√ Apply migrations
× Failed to load subgraph from subgraph.yaml: Error in subgraph.yaml:

  Path: dataSources >

[2021-06-25 08:19] jjperezaguinaga commented on #22
Hi @ManyRios ! Can you push your work on your own branch so we can have a PR and see these changes? We want to support you here, but copy and pasting error code is not the best way on how to do so. By pushing your branch we can replicate the same error you are having, thanks!

[2021-06-28 02:11] ManyRios commented on #22
I'm not able to make push neither.... take a look on the actually subgraph.yaml(not modied) and running yarn codegen. This is the error:

yarn run v1.22.5
$ graph codegen
  Skip migration: Bump mapping apiVersion from 0.0.1 to 0.0.2
  Skip migration: Bump mapping apiVersion from 0.0.2 to 0.0.3
  Skip migration: Bump mapping apiVersion from 0.0.3 to 0.0.4
  Skip migration: Bump mapping specVersion

[2021-06-28 02:52] ManyRios commented on #22
https://github.com/hoprnet/hopr-analytics/pull/40

[2021-07-12 07:04] QYuQianchen opened #43 "[Bounty] Improve HODL analysis"
_The following is an issue for bounty, meant for external contributors to pick up and work on the analytics of HOPR tokens._
_Click [here](https://gitcoin.co/hoprnet) to check all the bounties and [here](https://hoprnet.jobbase.io/) to check all the open positions at HOPR._

# Task Description
Complete and improve analysis based on[ code in the repo](https://github.com/hoprnet/hopr-community/tree/

[2021-07-14 16:22] #22 closed

[2021-07-14 16:24] jjperezaguinaga commented on #22
The team solved this one internally, @gitcoinbot feel free to cancel the bounty cc @QYuQianchen

[2021-07-15 07:41] jjperezaguinaga opened #45 "HOPR Staking UI"
# Infrastructure
- [x] #52

#Tasks
- [x] #46
- [x] #47
- [x] #48

\*Because I locked X amount of xHOPR tokens and Y amount of Z NFTs, my claimable amount of xHOPR tokens by N will be X * %

[2021-07-15 07:41] jjperezaguinaga opened #46 "As a user, I want to have a web3 interface that allows me to stake xHOPR and NFTs, so I can earn more xHOPR tokens."
- [x] #54
- [x] #55

[2021-07-15 07:41] jjperezaguinaga opened #47 "As a user, I want to connect my wallet, so I can see my xHOPR tokens and NFTs to make a financial decision on my staking opportunities."

[2021-07-15 07:41] jjperezaguinaga opened #48 "As a user, I want to see the status of my staked xHOPR tokens so I get an understanding of my personal wealth*"

[2021-07-15 07:41] 0xjjpa opened #49 "General application improvements"
![HOPR_Staking_UI_Feedback 2](https://user-images.githubusercontent.com/1128312/126996735-502744d2-2e16-4a24-ab9a-590bb20ec637.jpg)

- [x] #70
- [x] #71
- [x] #72
- [x] #73
- [ ] #74

Additional tasks:

- [x] #85
- [ ] #84
- [ ] #83
- [x] #82
- [ ] #81
- [ ] #80

Additional bugs:

- [x] #86
- [x] #87
- [ ] #88
- [ ] #93
- [ ] Ignored label is also added on the non-locked NFTs

UI improvements:
- [

[2021-07-16 12:41] jjperezaguinaga opened #52 "Allow preview of existing progress of the UI by pre-deploying on Fleek and allowing connecting to a local instance"

[2021-07-18 20:30] #52 closed

[2021-07-18 20:48] jjperezaguinaga opened #54 "Allow me to stake xHOPR tokens"

[2021-07-18 20:48] jjperezaguinaga opened #55 "Allow me to stake NFTs"

[2021-07-19 09:19] #54 closed

[2021-07-19 20:39] #48 closed

[2021-07-21 16:15] #47 closed

[2021-07-23 16:42] #55 closed

[2021-07-26 10:27] #46 closed

[2021-07-26 13:36] jjperezaguinaga opened #70 "(1) Sum all the NFTs boost values and produce both the total boost and APR."

[2021-07-26 13:36] jjperezaguinaga opened #71 "(2) Get `cumulatedRewards` from `HoprStake` to get the actual rewards value."

[2021-07-26 13:36] jjperezaguinaga opened #72 "(3) Calculate per second the "estimated" amount of expected wxHOPR rewards since the last sync."

[2021-07-26 13:36] jjperezaguinaga opened #73 "(4) Add per second counter since last time sync with interactive hook."

[2021-07-26 13:36] 0xjjpa opened #74 "(5) Support for rejected txs interactive and unsupported chains on application"

[2021-07-27 08:18] #70 closed

[2021-07-27 08:18] #71 closed

[2021-07-27 08:18] #72 closed

[2021-07-27 08:18] #73 closed

[2021-07-27 10:05] jjperezaguinaga opened #77 "Hopr Stake is contantly querying our NFT endpoint"
![image](https://user-images.githubusercontent.com/1128312/127136194-89dd1bfc-371c-444d-b1a3-ecd9f168f8a7.png)

Pretty much we are loading the NFTs every second for some reason. We'll need to refactor some logic to avoid this.

[2021-07-28 08:07] jjperezaguinaga commented on #49
Adding additional tasks:

- [ ] Showcase the amount of virtual locked for investors
- [ ] Provide feedback on ignoring locking NFTs that are not over 10%
- [ ] Ignore APR from multiple NFTs and show only the biggest
- [ ] Provide feedback on rejected transactions so UI doesn't block
- [ ] Provide feedback when the user is in a non-supported chain.

[2021-07-28 08:11] jjperezaguinaga opened #80 "Provide feedback when the user is in a non-supported chain."

[2021-07-28 08:11] jjperezaguinaga opened #81 "Provide feedback on rejected transactions so UI doesn't block"

[2021-07-28 08:11] jjperezaguinaga opened #82 "Ignore APR from multiple NFTs and show only the biggest"

[2021-07-28 08:11] 0xjjpa opened #83 "Provide feedback on ignoring locking NFTs that are not over 10%"

[2021-07-28 08:11] 0xjjpa opened #84 "Showcase the amount of virtual locked for investors"

[2021-07-28 08:11] jjperezaguinaga opened #85 "Ensure users can claim their rewards"

[2021-07-28 11:09] jjperezaguinaga opened #86 "NFTs are often not loaded sometimes"

[2021-07-28 11:09] jjperezaguinaga opened #87 "NFTs that are not considered should be "hidden""

[2021-07-28 11:56] 0xjjpa opened #88 "Switching accounts retains previous account NFTs"

[2021-07-28 13:03] #77 closed

[2021-07-28 13:03] #85 closed

[2021-07-28 13:03] #82 closed

[2021-07-28 13:03] #86 closed

[2021-07-28 13:03] #87 closed

[2021-07-28 13:47] 0xjjpa opened #89 "Gas price should be defaulted to 1 since we are on xDAI"

[2021-07-28 14:07] 0xjjpa opened #91 "Block changes counter should be updated after connecting wallet"

[2021-07-28 14:09] jjperezaguinaga opened #92 "Max button only takes up to 4 digits of the total amount instead of all 18"

[2021-07-28 14:14] jjperezaguinaga opened #93 "Additional NFTs from different types are likely to be ignored for APR calculation in the UI"

[2021-07-29 14:33] jjperezaguinaga commented on #45
Closing this one, next improvements are available on #49

[2021-07-29 14:33] #45 closed

[2021-08-06 13:46] jjperezaguinaga opened #94 "Matic Testnet v1"
# Introduction

We are launching a HOPR testnet in the Polygon mainnet network for testing the reliability of our network using a more congested network (in contrast to xDAI). To increase the familiarity and adoption of HOPR nodes, we'll also reward participants of this testnet with some staking NFTs they can use in our [Staking Program](https://stake.hoprnet.org/).

![image](https://user-images.g

[2021-08-06 13:47] jjperezaguinaga opened #95 "Gather the addresses of all existing participants of the staking contract program (via TheGraph) up to Aug 6th 12:00 pm"

[2021-08-06 13:47] 0xjjpa opened #96 "Update HOPRd to display MATIC and mHOPR in the UI to avoid them sending other assets to their nodes."

[2021-08-06 13:48] jjperezaguinaga opened #97 "Update HOPRd to display MATIC and mHOPR in the UI to avoid them sending other assets to their nodes."

[2021-08-06 13:48] jjperezaguinaga opened #98 "Put together a faucet for allowing individuals to mint 1 mHOPR tokens for their nodes."

[2021-08-06 13:48] jjperezaguinaga opened #99 "Airdrop mainnet MATIC and mHOPR tokens to all users of the staking contract program."

[2021-08-06 13:48] jjperezaguinaga opened #100 "Identify active addresses (active HOPRChannels interaction, calls to `openChannel`, for instance)"

[2021-08-06 13:48] jjperezaguinaga opened #101 "Valid signature from the content containing a proper ethereum address"

[2021-08-06 13:48] jjperezaguinaga opened #102 "Extract address from payload (signature) and showcase that information"

[2021-08-11 15:23] jjperezaguinaga commented on #94
Signing in progress in hoprnet/hoprnet#2226

[2021-08-16 09:58] jjperezaguinaga opened #103 "Add documentation for MATIC release"

[2021-08-16 09:58] jjperezaguinaga opened #104 "Provide migration instructions for AVADO users"

[2021-08-16 14:25] jjperezaguinaga opened #105 "Patch issue on token not being accepted in server"

[2021-08-18 10:31] QYuQianchen commented on #95
Query here: https://dune.xyz/queries/109219
Result here: [staking_accounts.csv](https://github.com/hoprnet/hopr-community/files/7006466/staking_accounts.csv)

[2021-08-18 11:30] jjperezaguinaga commented on #95
@QYuQianchen thanks!

[2021-08-18 11:30] #95 closed

[2021-08-19 08:50] jjperezaguinaga opened #106 "Modify UI so it shows the hopr node address in the UI"

[2021-08-19 08:50] jjperezaguinaga opened #107 "Get final image tested via `testnet` branch before creating official release"

[2021-08-19 08:50] jjperezaguinaga opened #108 "Create `wildhorn` release with all bugs patched"

[2021-08-19 09:00] jjperezaguinaga opened #109 "`hopr-admin` UI being blocked after some time"

[2021-08-19 09:02] jjperezaguinaga opened #110 "Update README on `hoprnet` for MATIC with Docker+npm instructions"

[2021-08-19 09:02] jjperezaguinaga opened #111 "Tag `wildhorn` and `matic` inside Docker Hub"

[2021-08-19 09:02] jjperezaguinaga opened #112 "Add IPFS hash for installing MATIC testnet inside AVADO"

[2021-08-19 09:03] jjperezaguinaga opened #113 "Add instructions for launching `hoprd` in Digital Ocean via Docker Hub"

[2021-08-19 09:04] jjperezaguinaga opened #114 "Resolve bug that breaks ability to fetch new channels"

[2021-08-19 09:05] jjperezaguinaga opened #115 "Create `addHOPRNode(idx)` which writes a web3signature on IDX which will be then check in the backend"

[2021-08-19 09:05] jjperezaguinaga opened #116 "Create `/faucet/available/$address` endpoint which checks the available amount of HOPR nodes an address can fund based on the valid addresses added in IDX by the user"

[2021-08-19 09:05] jjperezaguinaga opened #117 "Create `/faucet/funds/$hoprAddress, { web3sign }` which verifies valid web3 signature, compares with stakers, and funds HOPR address with either `mHOPR+MATIC` or just `mHOPR`."

[2021-08-19 09:06] jjperezaguinaga opened #118 "Modify `/home` so users can see their nodes highlighted in their screen (from IDX)"

[2021-08-19 09:06] jjperezaguinaga opened #119 "Store { hoprSign } in IDX, which can then be seen per address to showcase a valid HOPR node"

[2021-08-19 09:06] jjperezaguinaga opened #120 "Update all content in the site to match Wildhorn"

[2021-08-19 09:06] jjperezaguinaga opened #121 "Modify `/node` so users can see their nodes and activities done"

[2021-08-23 11:49] jjperezaguinaga commented on #111
Completed, tag available [here](https://hub.docker.com/layers/122259310/hopr/hoprd/matic/images/sha256-9c92f1ea641510f56067b02dbea467cbe33042266a00932966e5259ea5f7b03f?context=repo)

[2021-08-23 11:50] #111 closed

[2021-08-24 12:25] jjperezaguinaga commented on #103
Completed in https://github.com/hoprnet/hopr-leaderboard/pull/77/commits/e109f1c9eb0966af99ec27769a5ff92a5af49dfd

[2021-08-24 12:25] #103 closed

[2021-08-24 12:25] jjperezaguinaga commented on #112
Completed in https://github.com/hoprnet/hopr-leaderboard/pull/77/commits/e109f1c9eb0966af99ec27769a5ff92a5af49dfd

[2021-08-24 12:25] #112 closed

[2021-09-06 14:27] jjperezaguinaga commented on #110
Information has been updated directly in the hoprnet/hopr-leaderboard project.

[2021-09-06 14:27] #110 closed

[2021-09-10 12:58] jjperezaguinaga commented on #102
Completed in https://github.com/hoprnet/hopr-leaderboard/pull/139

[2021-09-10 12:58] #102 closed

[2021-09-13 06:50] jjperezaguinaga commented on #100
Completed in hoprnet/hopr-leaderboard#139

[2021-09-13 06:50] #100 closed

[2021-09-13 06:50] jjperezaguinaga commented on #101
Completed in hoprnet/hopr-leaderboard#139

[2021-09-13 06:50] #101 closed

[2021-09-13 10:50] jjperezaguinaga opened #122 "Mint NFT for participants of Wildhorn Testnet 1 based on their participation"
# Introduction

All our [testnet participants that verified their nodes](https://medium.com/hoprnet/wildhorn-testnet-part-2-running-a-node-and-earning-points-b23e54c81ee9) have their entries registered in our [dashboard](https://dune.xyz/hoprnet/HOPR-Polygon-Test-Net). We now have to actually issue them their NFTs based on their participation.

# Task Description

- [x] https://github.com/hoprnet/

[2021-09-13 10:52] jjperezaguinaga opened #123 "Generate a dump of the ETH addresses that need an NFT minted per category."
Blocked by https://github.com/hoprnet/hopr-leaderboard/issues/144, but pretty much after that's done, click on the "Download" option on the query and upload the CSV here for snapshotting purposes.

[2021-09-13 10:52] jjperezaguinaga opened #124 "Upload the NFT metadata and NFT art in our IPFS pinata account"

[2021-09-13 10:52] jjperezaguinaga opened #125 "Request EOA minting access and create the transactions required for the minting"
# Tasks

- [x] #128
- [x] #129
- [x] #132
- [x] #131
- [x] #130

[2021-09-13 10:52] jjperezaguinaga opened #126 "Approve and execute these transactions from the HOPR multisig to create the NFTs"

[2021-09-13 10:53] jjperezaguinaga opened #127 "Update our stake website to showcase the new NFTs available for staking"

[2021-09-13 10:58] jjperezaguinaga commented on #122
This issue closes https://github.com/hoprnet/org/issues/8

[2021-09-14 13:26] jjperezaguinaga opened #128 "Provide @SCBuergel with an EOA address for us to use during the minting process."
Please make sure to store it in Bitwarden as a secure note encrypted only for @SCBuergel, @nionis, and myself.

[2021-09-14 13:27] jjperezaguinaga opened #129 "Grant access to Bitwarded stored EOA address for minting Wildhorn V2 NFTs"
@SCBuergel See #128, pretty much we will need to grant access to an EOA for minting to simplify the transaction generation process.

[2021-09-14 13:27] jjperezaguinaga opened #130 "Revoke access to EOA for minting to avoid additional minting"
After we have minted everything let's revoke this address minting permissions to avoid minting by accident.

[2021-09-14 13:27] jjperezaguinaga opened #131 "Execute the script to mint the `4` categories Wildhorn V2 NFTs based on Dune info"
Please document all the commands and steps in https://github.com/hoprnet/hopr-stake.

[2021-09-14 13:27] jjperezaguinaga opened #132 "Request the NFT metadata to be passed to our NFT minting script"

[2021-09-14 15:21] jjperezaguinaga commented on #124
NFTs uploaded and pinned in https://gateway.pinata.cloud/ipfs/QmdCQAsu8MnnbubWoVovpoz6uhW7oNmrijm6Kt4iSK9zK4

[2021-09-14 22:20] QYuQianchen commented on #129
We can use the same address that minted `HODLr` tokens for this time. That address has been stored in Bitwarden.

[2021-09-14 22:21] QYuQianchen commented on #131
Follow instructions in README after https://github.com/hoprnet/hopr-stake/pull/28 is merged.

[2021-09-15 09:54] jjperezaguinaga commented on #129
@QYuQianchen what's the name of that address? Would be worth separating it from the rest of the tech group passwords.

[2021-09-15 09:56] jjperezaguinaga commented on #123
@QYuQianchen can you please update `hopr-stake` with the latest dump from https://github.com/hoprnet/hopr-leaderboard/pull/149? I'm assuming that was not included in the CSV checked-in the repo.

[2021-09-15 12:25] QYuQianchen opened #134 "Update subgraph for staking program"
- virtual staking
- actual staking
- claimable

[2021-09-15 12:25] QYuQianchen opened #135 "New snapshot strategy for Uniswap liquidity providers"
Implement Snapshot strategy according to #139

[2021-09-17 10:18] tolbrino commented on #94
I suspect this epic can be concluded. The 2 open tasks have already been assigned to the Rio epic.

[2021-09-17 11:02] jjperezaguinaga commented on #94
@tolbrino Indeed, will remove them from here.

[2021-09-17 11:02] #94 closed

[2021-09-17 14:19] jjperezaguinaga commented on #123
Solved in https://github.com/hoprnet/hopr-stake/pull/30

[2021-09-17 14:19] #123 closed

[2021-09-17 14:21] jjperezaguinaga commented on #128
Addess is `0xD7682Ef1180f5Fc496CF6981e4854738a57c593E`

[2021-09-17 14:21] #128 closed

[2021-09-17 14:24] jjperezaguinaga commented on #129
EOA granted minting rights on https://blockscout.com/xdai/mainnet/tx/0x167221cb51d784a4b89029367c12b523a40a677a80c126702904031c527d5960.

[2021-09-17 14:24] #129 closed

[2021-09-20 13:11] jjperezaguinaga commented on #131
Already completed, all mints had been minted.

[2021-09-20 13:11] #131 closed

[2021-09-20 13:12] jjperezaguinaga commented on #130
Renounced on https://blockscout.com/xdai/mainnet/tx/0x8bbbe8f964f49bf27270b81c8ea946125736ce500accf5df70f8d341963b75cc

[2021-09-20 13:12] #130 closed

[2021-09-20 13:12] jjperezaguinaga commented on #125
Everything completed, all Wildhorn v1 NFTs were minted.

[2021-09-20 13:12] #125 closed

[2021-09-20 13:13] jjperezaguinaga commented on #126
Completed in #125 subtasks.

[2021-09-20 13:13] #126 closed

[2021-09-20 14:39] QYuQianchen opened #136 "DAO v0.2"
- [x] #134
- [x] Deploy staking program subgraph
- [x] #138
- [x] #140
- [x] #139
- [x] #135
- [x] #142
- [x] #144
- [x] #143
- [ ] Create a production DAO v0.2 Snapshot page with relevant strategies
- [ ] Announce cut-off `block`, so that the community has time to perform some on-chain transactions to update their `unclaimedRewards` in the staking program.

[2021-09-20 16:28] QYuQianchen commented on #134
Test deployment https://thegraph.com/legacy-explorer/subgraph/qyuqianchen/staking-program

[2021-09-21 07:16] nionis commented on #94
✅ I accept that this epic was completed

[2021-09-21 13:12] QYuQianchen opened #138 "Check UNI-v3 liquidity"
Check all the pools on UNI-V3 to decide if a snapshot strategy for UNI-V3 is needed.

[2021-09-21 13:58] #138 closed

[2021-09-21 14:00] QYuQianchen commented on #134
Prod deployment https://thegraph.com/legacy-explorer/subgraph/hoprnet/hopr-staking-program

[2021-09-21 14:01] QYuQianchen opened #139 "Finalize components of snapshot strategy"
- [x] ✅  HOPR balance
- [x] ✅  xHOPR balance
- [x] ✅  wxHOPR balance
- [x] ❌  UNI V2 LP
- [x] ❌  UNI V3 LP
- [x] ✅  Actual stake in the staking program
- [x] ✅  Virtual stake in the staking program
- [x] ✅  Unclaimed rewards in the staking program
- [x] ❌  Unreleased seed investor tokens
- [x] ❌  Unclaimed wxHOPR from HOPR distributor

[2021-09-21 14:09] QYuQianchen commented on #139
Note that the "unclaimed rewards" corresponds to  `account.cumulatedRewards - account.claimedRewards` on the smart contract. It is an on-chain value that can be updated by
1. Calling `sync`, or
2. Staking more tokens, or
3.  Redeeming NFT boosts, or
4. Claiming rewards

[2021-09-21 16:05] QYuQianchen opened #140 "Create a subgraph for mainnet hopr token"
It enables the conversion of scores, so that snapshot strategies can be created based on either `xdai` or `mainnet`.

[2021-09-21 20:33] #139 closed

[2021-09-21 20:34] QYuQianchen commented on #135
Strategy created at https://github.com/hoprnet/snapshot-strategies
PR submitted at https://github.com/snapshot-labs/snapshot-strategies/pull/74
Waiting for their review

[2021-09-21 20:36] QYuQianchen commented on #140
https://thegraph.com/legacy-explorer/subgraph/hoprnet/hopr-on-mainnet

[2021-09-21 20:37] QYuQianchen commented on #140
Reopen because the PR hasn't been merged yet

[2021-09-21 20:40] QYuQianchen opened #142 "Create a test ENS subdomain and a production ENS subdomain"

[2021-09-21 20:40] QYuQianchen opened #143 "Internal test"

[2021-09-21 20:40] QYuQianchen opened #144 "Create a test DAO v0.2 Snapshot page with relevant strategies"

[2021-09-22 06:50] QYuQianchen commented on #135
Split the strategy into two:
- https://github.com/snapshot-labs/snapshot-strategies/pull/75
- https://github.com/snapshot-labs/snapshot-strategies/pull/76

Waiting for their review

[2021-09-22 09:45] QYuQianchen commented on #144
Test page created: https://demo.snapshot.org/#/dao-v0-2.dao-test.eth
Need to include more strategies

[2021-09-22 10:02] QYuQianchen commented on #142
test: dao-v0-2.dao-test.eth
prod: v02.hopr-dao.eth

[2021-09-22 10:02] #142 closed

[2021-09-22 10:03] QYuQianchen commented on #144
Prod page created: https://snapshot.org/#/v02.hopr-dao.eth
Need to set up the page

[2021-09-22 10:06] QYuQianchen commented on #144
Blocked by #135

[2021-09-22 13:30] jjperezaguinaga commented on #122
Everything was completed in here, moving to acceptance for review.

[2021-09-22 13:30] #122 closed

[2021-09-23 08:44] #140 closed

[2021-09-23 08:45] #134 closed

[2021-09-23 15:07] #135 closed

[2021-09-28 07:39] #144 closed

[2021-09-28 07:40] QYuQianchen opened #147 "Calculate importance score overtime"
Either use subgraph or with Dune

[2021-10-04 08:42] QYuQianchen commented on #147
It's difficult to calculate with both because each update of channel balance will trigger a loop of update (`source` node's importance score and all the nodes that have channels open to the `source` node). I'd rather calculate it on the "leader-board".

[2021-10-04 08:42] #147 closed

[2021-10-04 14:07] nionis commented on #143
lets add some description

[2021-10-04 14:09] nionis commented on #136
lets add `definition of done`

[2021-10-04 22:15] QYuQianchen commented on #143
Close because it's a task for the commercial team. It's be moved to [notion](https://www.notion.so/Internal-test-snapshot-page-strategies-66176475a5c5466fb5afe7f202c3670b)

[2021-10-04 22:15] #143 closed

[2021-10-04 22:16] QYuQianchen commented on #136
The other two items are more for the commercial team. Those two tickets are created in notion.

[2021-10-04 22:16] #136 closed

[2022-05-23 08:38] nionis opened #150 "Upgrade hopr-visual"
### Job Story

[hopr-visual](https://github.com/lmanini/hopr-visual) is a community build tool which allows us to visualize the HOPR network.
We would like you to upgrade `hopr-visual` to make it more in line with what the HOPR development team would like to see.

### Description

We would like you to implement the following features into [hopr-visual](https://github.com/lmanini/hopr-visual).

- e

[2022-05-23 08:40] nionis commented on #150
draft prize and time: $1200, 24 hours

[2022-05-23 11:23] #150 closed

[2022-05-23 11:23] nionis opened #151 "Upgrade hopr-visual"
### Job Story

[hopr-visual](https://github.com/lmanini/hopr-visual) is a community build tool which allows us to visualize the HOPR network.
We would like you to upgrade `hopr-visual` to make it more in line with what the HOPR development team would like to see.

### Description

We would like you to implement the following features into [hopr-visual](https://github.com/lmanini/hopr-visual).

- e

[2022-06-01 13:24] #4 closed

[2022-06-01 13:24] #33 closed

[2022-06-01 13:24] #43 closed

[2022-06-01 13:24] #49 closed

[2022-06-01 13:24] #74 closed

[2022-06-01 13:24] #83 closed

[2022-06-01 13:24] #84 closed

[2022-06-01 13:24] #88 closed

[2022-06-01 13:24] #89 closed

[2022-06-01 13:24] #91 closed

[2022-06-01 13:24] #96 closed

[2022-06-02 09:38] nionis opened #152 "Upgrade hopr-visual (vol 2)"
- historical view
- picker of subgraph endpoint

[2022-06-14 18:04] nionis opened #154 "Build an application using HOPR (freestyle)"
⚠️ Please read [forum page](https://forum.hoprnet.org/t/first-hopr-bounty-contest-7000-usd-in-prizes/4001) before applying for this contest.

### Challenge Description

Build an application/website which uses HOPR for relaying sensitive data.
Bonus points if the application/website is deployed and a URL is provided.

### Submission Requirements

- Source code must be open-sourced and available on

[2022-06-14 18:37] nionis opened #155 "Build a file sharing application powered by HOPR"
⚠️ Please read [forum page](https://forum.hoprnet.org/t/first-hopr-bounty-contest-7000-usd-in-prizes/4001) before applying for this contest.

### Challenge Description

Build an application/website which uses HOPR for file sharing.
Currently, HOPR's `send_message` limits the size of that message to 500 bytes.
We would like you to build a solution for this on the _app layer_ which then can be utili

[2022-06-20 09:37] lyledavids commented on #155
Keen on this but if it's a competition then I think it's better to change the "Project Type" and "Permissions" of the Gitcoin bounty.
Under "Traditional" Project type, only 1 person is able to work on the bounty

[2022-06-20 09:57] nionis commented on #155
hey @lyledavids, totally agree, we would need a PRO membership for that which we don't have

[2022-06-20 10:37] nionis commented on #154
hey @hhio618, feel free to start working on your submission, please also read [forum page](https://forum.hoprnet.org/t/first-hopr-bounty-contest-7000-usd-in-prizes/4001).

[2022-06-20 12:59] nionis commented on #154
hey @uptsmart, this is a contest, feel free to start working on your submission, please read the [forum page](https://forum.hoprnet.org/t/first-hopr-bounty-contest-7000-usd-in-prizes/4001).

[2022-06-21 08:10] nionis commented on #154
hey @ManyRios, this is a contest, feel free to start working on your submission, please read the [forum page](https://forum.hoprnet.org/t/first-hopr-bounty-contest-7000-usd-in-prizes/4001).

[2022-06-21 13:05] nionis commented on #154
hey @sharansh123, this is a contest, feel free to start working on your submission, please read the [forum page](https://forum.hoprnet.org/t/first-hopr-bounty-contest-7000-usd-in-prizes/4001).

[2022-06-21 13:06] nionis commented on #155
hey @sharansh123, this is a contest, feel free to start working on your submission, please read the [forum page](https://forum.hoprnet.org/t/first-hopr-bounty-contest-7000-usd-in-prizes/4001).

[2022-06-23 08:26] nionis commented on #154
hey @nwakaku and @lyledavids, this is a contest, feel free to start working on your submission, please read the [forum page](https://forum.hoprnet.org/t/first-hopr-bounty-contest-7000-usd-in-prizes/4001). Good luck!

[2022-06-23 08:27] nionis commented on #154
For metrics, could you 👍 my comment if you have started / will work on a submission for the contest? @hhio618 @uptSmart @ManyRios @sharansh123 @nwakaku @lyledavids

[2022-06-23 08:29] nionis commented on #155
hey @doktor1897, @yash-c-330 and @lyledavids, this is a contest, feel free to start working on your submission, please read the [forum page](https://forum.hoprnet.org/t/first-hopr-bounty-contest-7000-usd-in-prizes/4001). Good luck!

[2022-06-23 08:30] nionis commented on #155
For metrics, could you 👍 my comment if you have started / will work on a submission for the contest? @lyledavids @vanoob404 @mrcodeprivate @sharansh123 @doktor1897 @Yash-C-330 @lyledavids

[2022-06-23 09:37] nionis commented on #151
Work completed and bounty paid, thanks @Eliaxie!

[2022-06-23 09:37] #151 closed

[2022-07-01 11:17] nionis commented on #155
Good luck to everybody whos participating, the team is looking forward to all submissions! ❤️

[2022-07-01 11:18] nionis commented on #154
Good luck to everybody whos participating, the team is looking forward to all submissions! ❤️

[2022-07-02 09:12] nwakaku commented on #154
how can we submit there is no summission button on gitcoin

[2022-07-02 09:14] ManyRios commented on #154
Read the forum page

[2022-07-04 14:34] lyledavids commented on #154
@nionis Will you consider giving a 24 hour extension?
Check your email

[2022-07-04 19:03] vanoob404 commented on #155
## Submission(Late but still!)
Gitcoin Profile: https://gitcoin.co/vanoob404

https://github.com/vanoob404/hopr-fsdapp

[2022-07-05 20:46] janmaslo commented on #155
I'm gonna stay up late with this one! Pushing the finished (although welcome to feedback) front-end in a moment.

[2022-07-05 22:04] janmaslo commented on #155
Seems like I jumbled up the dates... :( I'm gonna submit anyway since it doesn't seem like there've been too many submissions

[2022-07-05 22:08] vanoob404 commented on #155
@janmaslo I m very curious to see
Where's the Submition dude?

[2022-07-06 03:05] janmaslo commented on #155
Here's the live site: https://janmaslo.github.io/Skippr/
Here's the repo: https://github.com/janmaslo/Skippr

Let me know any of your thoughts although do know that this is the very beginning.
Keep in mind that I only started work on this today, development on the backend will begin (and hopefully complete) tomorrow. It's way past midnight, I'll go get some well earned rest.

[2022-07-06 07:00] vanoob404 commented on #155
@janmaslo I will help you on the backend part if you want!

[2022-07-07 00:10] janmaslo commented on #155
@vanoob404 please update me as soon as you can, setting up the cluster seems to be no easy feat with non-standard and broken scripts. I've had no luck with the gitpod setup either, yielding an error on the stage that was supposed to be automatic. I've also found errors in the documentation... seems like I'll have to help HOPR out more when I'm done with this bounty. If you have a cluster set up an

[2022-07-07 00:30] janmaslo commented on #155
@nionis Can you please let me know if it's still okay for me to submit? I found out about this bounty really late but would love to participate. I've got most of the work already done (check my [live site](https://janmaslo.github.io/Skippr/) out above) but have had problems with deploying a cluster which prevents me from doing proper testing. The repo intended for local deployment contains non-sta

[2022-07-07 16:28] vanoob404 commented on #155
#### Sorry for the late reply. I was busy
@janmaslo If you are willing to win the bounty prize, it's late even though I was late. 😥
If you want to figure out how to interact with hopr nodes then I will help you.

[2022-07-11 20:20] nionis opened #157 "Build an application using HOPR"
### Challenge Description

Build an application/website which uses HOPR for relaying sensitive data.
Bonus points if the application/website is deployed and a URL is provided.

1. Apply to work on this bounty with a description of what you would like to build.
2. Once your request has been approved you may start working on your application.
3. All valid submissions get **$800** in HOPR tokens.
4.

[2022-07-18 10:07] nionis commented on #154
Closing in favour of https://github.com/hoprnet/hopr-community/issues/157.
Please check out the new contest and submit your work, everybody is eligible to get a prize.

[2022-07-18 10:07] #154 closed

[2022-07-18 10:10] nionis commented on #155
Closing in favour of https://github.com/hoprnet/hopr-community/issues/157.
Please check out the new contest and submit your work, everybody is eligible to get a prize.

[2022-07-18 10:10] #155 closed

[2022-07-18 19:18] ManyRios commented on #157
Only 1 working in this?

[2022-07-18 21:42] nionis commented on #157
@ManyRios multiple people may work on this and receive $800, but one gets the prize of $2500

[2022-07-18 22:40] menezesphill commented on #157
Hi @nionis! I tried to apply for this bounty on GitCoin but I keep getting this error saying that somebody is already working on it. I will leave the description of my dApp here meanwhile. 😁

The idea:

Chatr is a private messaging web extension that uses HOPR mixnet and can also transfer HOPR tokens to chat participants. The idea is to have a channel to talk to other network participants and send

[2022-07-19 09:51] vanoob404 commented on #157
I am unable to apply on gitcoin because the project type is Traditional.
NP

Here's my Project: https://github.com/vanoob404/hopr-fsdapp
My Gitcoin profile: https://gitcoin.co/vanoob404

[2022-07-23 13:47] nionis commented on #157
@menezesphill you may start working on your dapp :)

[2022-07-23 13:48] nionis commented on #157
hey @vanoob404, although you haven't requested to work on the dapp as the description states, your work was part of our previous contest which makes it okay. We will check the submission next week.

[2022-08-01 10:08] nionis commented on #155
hey, can you submit ur dapp over at https://gitcoin.co/issue/29145 to get $800 and also participate in the $2500 prize?

[2022-08-01 10:09] nionis commented on #154
however wants to reuse their dapp work, please checkout https://gitcoin.co/issue/29145 to get $800 and also participate in the $2500 prize, thanks!

[2022-08-01 18:28] ManyRios commented on #154
Yeah, right... I will :)

[2022-08-02 17:54] ManyRios commented on #157
To submit our work. We need to paste a link of the repo right here in this issue?

[2022-08-03 05:37] nionis commented on #157
hey @ManyRios, you need to first get an approval for the dapp you have build, if you have already built it (because u worked on the previous contest), then simply share the link here and the team will approve it and send you 800$

[2022-08-03 06:12] nionis opened #158 "Document HOPR dApp standard"
- document HOPR dApp standard
- reference examples

[2022-08-03 06:47] ManyRios commented on #157
Yes, I worked in the previous contest. But im finishing that one

[2022-08-03 10:23] lyledavids commented on #157
Is deadline to submit a project on the 26August?

[2022-08-03 11:44] nionis commented on #157
@lyledavids yes, however, the sooner the better as we want to feature our current dApps very soon

[2022-08-04 07:23] #158 closed

[2022-08-04 07:39] nionis commented on #157
hey @lyledavids and @ManyRios - do you have an estimation of when your submissions will be available? Would be amazing to have them in this week.

[2022-08-04 08:16] ManyRios commented on #157
Hope to have it this week or monday.

[2022-08-04 11:01] lyledavids commented on #157
I will submit next week

[2022-08-05 20:17] janmaslo commented on #155
on it! should be there pretty soon
@nionis

[2022-08-06 19:00] vividwood commented on #157
### HOPR Chess
Play chess using HOPR completely p2p
https://github.com/vividwood/hopr-chess

[2022-08-07 06:26] nionis commented on #157
hey @vividwood, can you DM me your ethereum address through discord?

[2022-08-07 08:39] en0c-026 commented on #157
Hello @nionis , I want to participate in this contest.

Description:
The idea of ​​my application is to create a game without graphics.
Called Gawibawibo, it is the classic game as it is known in Korea. Gawi, Bawi, Bo. Or in the West, also known as Rock, Paper, Scissors but with decentralized thinking.

The idea is that each user can create his "move" that contains a combination of 3 possible opti

[2022-08-09 12:00] thewanderingeditor commented on #157
Hi @en0c-026! Thanks for your application. @nionis is on holiday at the moment, so I'll be taking over some of his bounty admin role.

Your dApp idea sounds great. Just a few questions / comments:

- How many players would it support? I'm only familiar with Western rock paper scissors, which is traditionally two-player, but looking up gawi bawi bo it seems common to play with more than two. Given

[2022-08-09 12:02] thewanderingeditor commented on #157
Hi @magded,

Your dApp idea sounds very interesting. Support for private medical data is one of the main use cases we're focusing on outside of crypto. It would be great to get some more information about the kind of data you're imagining sharing, and how the wallet interaction would work.

[2022-08-09 12:43] Magded commented on #157
Hey @thewanderingeditor, so my plan is to make it, so hospitals can use whichever format they would like when sharing files, so it is flexible enough to support many use cases, this may include PDF files, XLSX files, CSV, etc.
To make it easier for the user, the file would be encrypted on the client, uploaded to a web2 server, a presigned url and a decryption key would be sent through HOPR, so oth

[2022-08-09 12:51] vividwood commented on #157
Hi @thewanderingeditor can I dm you on discord?

[2022-08-09 13:16] thewanderingeditor commented on #157
@vividwood Sure, go ahead!

[2022-08-09 13:19] vividwood commented on #157
can you give me your discord nickname? I cant find you in hopr discord. Or DM me vividwood#1810

[2022-08-10 13:54] thewanderingeditor commented on #157
Hi again @lyledavids and @ManyRios. Any update on your submissions? We have a new dApp showcase launching very soon and it would be amazing to have yours included.

[2022-08-10 16:49] lyledavids commented on #157
Still in development, will keep you updated

[2022-08-10 17:47] ManyRios commented on #157
Yep...  I hope to submit it today guys.

[2022-08-11 00:08] Magded commented on #157
Hey @thewanderingeditor, started working already, but dunno if my project is elegible, can you clarify please?

[2022-08-11 06:51] ManyRios commented on #157
Almkst done guys. I'm fixing a couple of things

[2022-08-12 03:02] vanoob404 commented on #157
[![MasterHead](https://user-images.githubusercontent.com/97467803/184258764-c681188d-2d77-44ba-8507-0f739499cfc6.png)](https://share3.vanoob.dev)

<h2 align="center">It's Share<3</h2>

### This is not a new submission it's a UI-improved version of the old one 😎

dApp: https://share3.vanoob.dev
My Submission: https://github.com/vanoob404/hopr-fsdapp
My Gitcoin profile: https://gitcoin.co/vanoob404

[2022-08-12 08:56] vanoob404 commented on #157
I applied on HOPR's gitcoin issues. plz approve it

[2022-08-12 08:58] vanoob404 commented on #157
[![MasterHead](https://user-images.githubusercontent.com/97467803/184258764-c681188d-2d77-44ba-8507-0f739499cfc6.png)](https://share3.vanoob.dev)

<h2 align="center">It's Share<3</h2>
<h3 align="center">This is not a new submission it's a UI-improved version of the old one 😎 & now follows all HOPR dApp standards</h3>

dApp: https://share3.vanoob.dev
My Submission: https://github.com/vanoob404/hopr

[2022-08-13 05:56] devberkay commented on #157
@nionis ,  @thewanderingeditor , i want to participate in this contest,

my idea is to make decentralized mobile application where everyone can create & join polls (e.g. similar to https://www.poll-maker.com/ ) and also stay %100 secure and anonymous(both for the owner of the question and the participants).This would be beneficial for data collectors and participants who are  abstainer because the

[2022-08-13 11:08] thewanderingeditor commented on #157
Hi @velkn! Thanks for your submission, but I'm afraid we can only process applications in English at this time. (I tried to use a translation tool to get an impression of your idea, but unfortunately it wasn't good enough to produce something clear.)

If you're not able to apply in English yourself, I'd suggest reaching out in our [Telegram group](https://t.me/hoprnet), where I'm sure someone can

[2022-08-13 11:10] thewanderingeditor commented on #157
Thanks for the update! This sounds really interesting. Please proceed with your prototype and keep us updated with your progress. (Because of how the contest is set up on gitcoin, you won't get any confirmation beyond this message.)

If you have questions about the wallet question, don't hesitate to reach out on our [Discord](https://discord.gg/dEAWC4G) or [forum](https://forum.hoprnet.org)

[2022-08-13 11:14] thewanderingeditor commented on #157
Hi @vanoob404. @nionis is on holiday this week (Actually I am too, but I'm more reachable 😄)

Thanks for your submission! It looks awesome. Because of how the contest is set up on gitcoin, we won't be approving work there until we accept the winner, but please treat this message as confirmation of your submission. We'll test it internally soon and get back to you.

[2022-08-13 11:16] thewanderingeditor commented on #157
Hi @devberkay. This sounds like a great idea! Please proceed with building the dapp, and don't hesitate to reach out on [Discord](https://discord.gg/dEAWC4G) or our [forum](https://forum.hoprnet.org) if you have questions.

[2022-08-13 12:18] vanoob404 commented on #157
@thewanderingeditor okay

[2022-08-14 19:23] vanoob404 commented on #157
@thewanderingeditor, @nionis
if you tested my app and found that send btn is not working. that is because there's a typo under _sendmsg_ function.
this problem is now solved.
If you tested I request you to test it again! otherwise no worries 😁.

[2022-08-16 16:11] thewanderingeditor commented on #157
Hi @vanoob404. I took a look at your dApp via playground but wasn't able to quite make it work following the video tutorial. Setup was smooth, and the file did appear when I sent to my own node, but sending to a second node (via a third) didn't seem to work. I'll investigate further in combination with hoprd dapp and see if I can work out what's going on. It may be that I wasn't entering the path

[2022-08-16 16:14] thewanderingeditor commented on #157
Hi everyone. I am doing some sporadic testing where possible, but as @nionis and I are both on holiday expect testing and payments to resume in earnest starting Monday 22nd August

[2022-08-16 16:20] vanoob404 commented on #157
I think you messed up with the path! in the first case in path you will fill peer id of other three nodes except sending and receiving node!

and secondly. this app can render only one file from the node (the first file received on the node)

[2022-08-16 17:20] ManyRios commented on #157
If we submit our dapps today,  we most to wait until that day for a feedback?

[2022-08-16 17:49] thewanderingeditor commented on #157
That's the earliest we can guarantee testing. I may be around and able to test over the next few days though, so I'd recommend submitting earlier if you can.

[2022-08-16 23:41] janmaslo commented on #157
Hey, I'm finishing work on the web app I created for the previous bounty. Below is a WIP demo video presenting 2 files, an image and a text file being sent and then retrieved from a mock node. Please check out the demo video before reading more:

![WIP demo](http://hughmann.me/hopr)

    As it now stands it implements the desired functionality, albeit the download speeds are slow which is to be ex

[2022-08-16 23:51] janmaslo commented on #157
Everything you see on the video is of course written from scratch. the UI as well as all of the components and transitions were implemented specifically for this bounty and exclusively designed by me. Pure javascript is used on the backend and all byte-wise operations are dispatched to the web API to ensure highest performance. You shall learn more about the details tomorrow as I end my work day r

[2022-08-17 09:13] ManyRios commented on #157
BATTLESHIP
My submission: https://github.com/ManyRios/battleship-w-hopr

[2022-08-17 09:44] vanoob404 commented on #157
@ManyRios awsm work bro!
### Recpect++

[2022-08-17 18:07] ManyRios commented on #157
Thanks man.  Is not a big deal 🙂

[2022-08-19 00:12] janmaslo commented on #157
Hey, here's the deployment & source for the version I presented above

live site: https://janmaslo.github.io/Skippr/
repo:  https://github.com/janmaslo/Skippr

I'd really appreciate if any one of you, @vanoob404 and @ManyRios could test it with a real hopr cluster on your local machines as I see that nionis and thewanderingeditor are on break. I do expect a patch to be needed after that as I reali

[2022-08-19 16:31] vanoob404 commented on #157
@janmaslo what's your discord handle?

[2022-08-22 10:32] nionis commented on #157
hello everybody, both I and @thewanderingeditor are back.
We will start reviewing and providing feedback for @vanoob404 @ManyRios @janmaslo.
Please ensure that your dApps follow the [dApp standard](https://github.com/hoprnet/hopr-community/blob/main/DAPP_STANDARD.md). We will be adding feedback to the individual repositories.

[2022-08-22 10:54] vanoob404 commented on #157
@nionis Okay 👍🏻

[2022-08-22 14:15] ManyRios commented on #157
👍

[2022-08-22 18:36] ManyRios commented on #157
What happend?

[2022-08-22 18:50] nionis commented on #157
@ManyRios we are reviewing and providing feedback - please take note that contest feedback before the deadline is not often offered, we are just doing it to help out. We will send feedback at the same time for all, so it's fair.

[2022-08-22 18:50] nionis commented on #157
hey guys, can you use https://playground.hoprnet.org/ to test your dApps? Run a cluster, click on "your own custom node app" and connect the API URLs to your dApp.

[2022-08-22 19:37] menezesphill commented on #157
@nionis playground is struggling a bit to run my dApp right now. But it was working perfectly yesterday and early today.

[2022-08-22 19:47] ManyRios commented on #157
Same here... I thought it was just me and I was already searching like a mad in my code

[2022-08-23 08:39] nionis commented on #157
hey @shreyan001 you can start working on the dApp, good luck.

[2022-08-23 10:51] nionis commented on #157
hey @menezesphill, is there a link to the repository? would like to see why it doesn't work.
@ManyRios just checked your dApp, it doesn't look like it's dApp standard compatible, please see https://github.com/ManyRios/battleship-w-hopr/issues/1

[2022-08-23 10:57] nionis commented on #157
@vanoob404 your dApp seems to run well with playground - looks good!

[2022-08-23 11:00] vanoob404 commented on #157
Thanks, @nionis

[2022-08-23 11:47] nionis commented on #157
@janmaslo would love to checkout skippr and give feedback but I see no demo URL yet

[2022-08-23 12:53] menezesphill commented on #157
@nionis it is working perfectly with the playground, just had some random slowness yesterday but that was that, don't need to worry! My repo is [here](https://github.com/metamathstudios/chatr-by-metamath); Still putting the finishing touches to make my submission.

By the way, my dApp is the first web extension build using HOPR, it implies that being adjustable via URL is not really applicable (on

[2022-08-24 03:33] ManyRios commented on #157
Solved.
Repo: https://github.com/ManyRios/battleship-w-hopr

[2022-08-24 15:24] menezesphill commented on #157
Hi @nionis @thewanderingeditor **Chatr** is ready! As it is a Web Extension, please read the documentation and instruction videos here:

https://github.com/metamathstudios/chatr-by-metamath

This extension has been submitted to Chrome Web Store, and a live/downloadable version will be released once the revision process is over (it takes 24 to 72 hours) so users can download and use the extension s

[2022-08-25 17:34] nionis commented on #157
@menezesphill

No problem, dApp standard only applies where it's applicable.

[2022-08-25 17:40] libengd commented on #157
My dApp: HOPR Wallet
You can manage channels/peers, send messages. I also want to add support of multiple accounts and node settings later

https://github.com/libengd/hopr-wallet

[2022-08-26 10:57] janmaslo commented on #157
Secourier (formerly Skippr)
===

*Secourier - The secure courier that delivers your files over the HOPR network.*

A web dApp enabling file sharing on HOPR.

SEE IT LIVE: https://janmaslo.github.io/Secourier/
See the repo: https://github.com/janmaslo/Secourier

https://user-images.githubusercontent.com/93952256/186887583-e53dfa03-5244-4408-95e9-b06091cf5d37.mp4

[2022-08-26 11:56] nionis opened #169 "Specify deployment names"
### Description

Add the ability to specify deployment names in vercel.

### Relevant issues

- update `deploy.json` to accept `name` key
- update workflow to take in argument

### Definition of DONE

Once we can specify names in the workflow and deployments can deploy under that name.

[2022-08-26 15:15] vanoob404 commented on #157
@nionis When the winner will be announced?
 and https://discord.com/channels/@me/993476506598789151/1012739302125490226 😥

[2022-08-26 15:36] devberkay commented on #157
Hello again, I am still working on my mobile dapp and i'd say it is currently %70 done but to be honest , it would only be totally ready if i could get  some more time until 30th August 23.59(UTC-5 time zone). Ofc , i am not expecting to be joining to the 2500$ contest but at least to be taken into consideration for completion reward though.

[2022-08-26 15:38] nionis commented on #157
@vanoob404 next week
@devberkay as long as your dApp was approved, I don't see the application here

[2022-08-26 15:49] devberkay commented on #157
Thank you so much, I didn't take any action on gitcoin is that a problem? , i had directly applied and been approved to this bounty at :

https://github.com/hoprnet/hopr-community/issues/157#issuecomment-1214140415

[2022-08-26 15:58] tommy-a commented on #157
Hopefully this isn't too late, but just stumbled upon this bounty.  I started playing around with HOPR at the beginning of this week, and have been working on a webapp version of Heads Up Texas Hold'em (1v1) that uses HOPR to play out a game using [Mental Poker](https://en.wikipedia.org/wiki/Mental_poker) without needing a trusted third-party to shuffle the deck.

Not sure if it's too late to be c

[2022-08-26 16:23] ManyRios commented on #157
Hi!   I wanted to know if for the payment instead of a tip you could send to my wallet that is different from the gitcoin.

This is my wallet address 0x3A658fb3eC98E6C87148471d93b84a76d2d7F9cb

[2022-08-26 23:55] thewanderingeditor commented on #157
Hi everyone. Thanks for all your submissions. The competition is closed as of the 26th, so next week we'll be deciding which of the eligible dApps will receive the $2500 bonus.

If you've been approved and are still working on your dApp (or for some reason our testing shows it isn't yet eligible and needs revision), you can still submit at a later date to receive the $800 base bounty, so we hope y

[2022-08-26 23:57] thewanderingeditor commented on #157
Hi @tommy-a. Trustless poker is cool, and something we'd be interested in seeing. Since you're a bit late to start it wouldn't be eligible for the competition bonus, but you can still receive the $800 base amount.

[2022-08-27 00:01] ManyRios commented on #157
Hi @thewanderingeditor ... The winner will be announced next week. the payment for the $800 when be done? Also the next week? Thanks a lot

[2022-08-27 00:01] tommy-a commented on #157
Awesome great to hear, looking forward to sharing it!

[2022-08-27 18:19] janmaslo commented on #157
Hey, @nionis @thewanderingeditor I had a little family emergency on the 25th (CEST), nothing that serious in the end but I had to sacrifice the time I planned to spend applying finishing touches and submitting my app. I ended up submitting it as soon as I could on the 26th before heading straight to bed, which I really hoped would still get me onto the main contest. Is that the case? You can see m

[2022-08-28 14:21] menezesphill commented on #157
Good news @nionis  @thewanderingeditor my submission for the hopr competition has been published on the Chrome Web Store and now is much easier to try out the extension:

https://chrome.google.com/webstore/detail/chatr/bfcdlkhdghemaahmdlhbknfojecalcgc

[2022-08-29 10:28] nionis commented on #157
thanks for all your submissions! team is taking a look! :)

@tommy-a @devberkay don't see your submissions, can you share a github repository?

[2022-08-29 13:45] devberkay commented on #157
@nionis i will submit it at 08/30/2022 , 23:59 (UTC-5 time zone)

[2022-08-29 15:22] nionis opened #172 "Build Connect Four using HOPR"
### Challenge Description

Build Connect Four using HOPR.

### Submission Requirements

- Source code must be open-sourced and available on GitHub.
- Submission must be functional and working.
- Submission must be your own original work or a fork of an existing project which has been substantially changed.
- When applicable, must follow the [HOPR dApp standard](https://github.com/hoprnet/hopr-comm

[2022-08-29 15:22] nionis opened #173 "Build Tic-tac-toe using HOPR"
### Challenge Description

### Submission Requirements

- Source code must be open-sourced and available on GitHub.
- Submission must be functional and working.
- Submission must be your own original work or a fork of an existing project which has been substantially changed.
- When applicable, must follow the [HOPR dApp standard](https://github.com/hoprnet/hopr-community/blob/main/DAPP_STANDARD.md

[2022-08-29 15:24] nionis opened #174 "Build Dots and Boxes using HOPR"
### Challenge Description

### Submission Requirements

- Source code must be open-sourced and available on GitHub.
- Submission must be functional and working.
- Submission must be your own original work or a fork of an existing project which has been substantially changed.
- When applicable, must follow the [HOPR dApp standard](https://github.com/hoprnet/hopr-community/blob/main/DAPP_STANDARD.md

[2022-08-29 15:25] nionis opened #175 "Build Hangman using HOPR"
### Challenge Description

### Submission Requirements

- Source code must be open-sourced and available on GitHub.
- Submission must be functional and working.
- Submission must be your own original work or a fork of an existing project which has been substantially changed.
- When applicable, must follow the [HOPR dApp standard](https://github.com/hoprnet/hopr-community/blob/main/DAPP_STANDARD.md

[2022-08-29 15:25] nionis opened #176 "Build Rock-Paper-Scissors using HOPR"

[2022-08-31 09:51] thewanderingeditor commented on #172
Suggested prize: $400

[2022-08-31 09:51] thewanderingeditor commented on #173
Suggested prize: $200

[2022-08-31 09:52] thewanderingeditor commented on #174
Suggested prize: $400

[2022-08-31 09:58] thewanderingeditor commented on #175
Suggested prize: $400

[2022-09-01 15:03] janmaslo commented on #157
Hello again, just want to make sure if [my submission](https://github.com/hoprnet/hopr-community/issues/157#issuecomment-1228353073) made it on time? @nionis

[2022-09-01 18:07] ManyRios commented on #157
Any update about this?

[2022-09-02 11:54] nionis opened #177 "[draft] hopr-visual: Allow selection of different releases"
### Job Story

[hopr-visual](https://github.com/hoprnet/hopr-community/tree/main/projects/hopr-visual) is a HOPR dApp that allows users to view the existing channels created in a given HoprChannels contract.
We would like to extend this dApp to allow users to select various releases (using HoprChannels), so the users can view past releases too.

### Description

Extend [hopr-visual](https://github

[2022-09-02 13:38] nionis commented on #157
Hello all!

We would like to congratulate @menezesphill for winning the contest with this [submission](https://github.com/metamathstudios/chatr-by-metamath).

We will now proceed with the payouts for all.

Please keep an eye on [our bounties page](https://bounties.hoprnet.org/) for future bounties and contests.
Thanks for participating!

[2022-09-02 13:53] shreyan001 commented on #157
Is the contest officially over, I am still building my dapp and it may be done by 03/09/2022 can I still submit and be eligible for the base bounty.

[2022-09-02 14:07] thewanderingeditor commented on #157
@shreyan001 Hey. Your prediction market dApp sounds super interesting. The contest is over, but we'd still be very interested to see it. It would be eligible for the $800, yes.

[2022-09-02 14:20] nionis commented on #157
@menezesphill can you officially submit your work in https://gitcoin.co/issue/29145 so I can proceed to close the contest?
For anybody who still wants to submit their dApp and earn $800, please free to use this issue to let us know.

[2022-09-02 14:24] vanoob404 commented on #157
@menezesphill Congratulations 🎊 👏 💐
## Great work!

[2022-09-02 15:07] nionis opened #178 "Add Q2 contest dApps"
Include dApps built in the Q2 contest.

1. https://github.com/vanoob404/hopr-fsdapp
2. https://github.com/ManyRios/battleship-w-hopr
3. https://github.com/janmaslo/Secourier
4. https://github.com/metamathstudios/chatr-by-metamath
5. https://github.com/libengd/hopr-wallet

Chosen dApps will receive updates in upcoming bounties.

[2022-09-03 22:30] ManyRios commented on #174
will submit here the repo again or this time is for approval first in gitcoin? @nionis

[2022-09-04 11:55] thewanderingeditor commented on #174
Hi @ManyRios. Yes this time it's approval first in gitcoin. I'll be choosing applicants Monday morning.

[2022-09-04 12:30] janmaslo commented on #157
Hello, I am unable to withdraw the tip I received on gitcoin. I've already tried on 4 different machines with both chromium and firefox, and metamask, fortmatic wallets. Nothing happens when clicking the "Claim HOPR" button and some error appears on the devtools console. I imagine getting in touch with the gitcoin support taking a considerable amount of time, perhaps you'd be able to help me someh

[2022-09-04 12:31] janmaslo commented on #157
@nionis @thewanderingeditor :-/ sorry for bothering you but I'm really losing my mind on this, and much worse I'm losing time

[2022-09-04 13:42] libengd commented on #157
Hi @janmaslo , I have exactly same problem! I reached gitcoin support on discord but with no success. They told me to reach support@gitcoin.co, but so far they haven't even responsed (been almost a day). Im afraid there is nothing we can do

[2022-09-05 19:16] janmaslo commented on #157
Hey @libengd, I received a response from gitcoin support today and they're apparently letting the bounty team know, we'll see what they do next. Have you got a response yet? I did mention you in my initial email.

[2022-09-05 23:36] h1xten commented on #173
@thewanderingeditor Hello, how can i submit the project?

[2022-09-06 14:15] libengd commented on #157
Hi, gitcoin support said that address they sent tip to was provided in my account settings, but I have no idea how this address ended up there nor i have access to it. My actual address is `0x736c9Ff4a9F2a6c5899258843c8Ac37b957fc317`. So if gitcoin doesnt have access to this address nor am i, looks like those money are lost forever.

[2022-09-06 14:28] vanoob404 commented on #157
@libengd if that's not your address. sorry to say but all gone!!!

[2022-09-06 15:17] h1xten commented on #173
@thewanderingeditor @nionis I built tic-tac-toe dApp using hopr. It was really exciting and educational for me, thank you for this bounty. Tic-Tac-Toe dApp: https://github.com/h1xten/tic-tac-toe-hopr

[2022-09-07 09:38] nionis commented on #157
Am sorry to hear that guys, nothing we can do on our end, funds are always sent to your profile's designated gitcoin wallet.

[2022-09-07 21:48] SCBuergel opened #179 "Build a demo dApp to send Ethereum RPC over HOPR"
### Job Story

HOPR has built [Playground](https://playground.hoprnet.org/) which allows anybody to try out the HOPR protocol without the need to install anything.
Playground currently supports many [HOPR compatible](https://github.com/hoprnet/hopr-community/blob/main/DAPP_STANDARD.md) dApps, many of them found in the [hopr-community repository](https://github.com/hoprnet/hopr-community).

We woul

[2022-09-08 18:28] janmaslo commented on #172
As I understand, the one approved for the bounty is the only one permitted to work on it, correct?

[2022-09-08 21:40] janmaslo commented on #176
Hey, good to see new bounties from you. This one doesn't seem to be active on gitcoin - only the four other ones you posted this week show up on your profile. I'd love to apply but am not sure how to since its not on gitcoin. Perhaps you could send me a link if you're sure it's there?

[2022-09-09 02:13] thewanderingeditor commented on #176
Hi @janmaslo. You're right, this one isn't currently active on gitcoin. I'm still determining the parameters for it. There will be another set of game bounties created soon, which will probably include this one.

[2022-09-09 02:13] thewanderingeditor commented on #172
That's correct

[2022-09-09 03:18] thewanderingeditor commented on #178
1. fsdapp: would include as top dApp, would like to see improvement on path input UI
2. Battleships: wouldn't include as a top dApp
3. secourier: will review again, but at the moment wouldn't include
4. Chatr: would include, would like to see the future features listed at https://github.com/metamathstudios/chatr-by-metamath
5. wallet: will review again, but at the moment wouldn't include
6. chess:

[2022-09-09 10:31] h1xten commented on #173
@thewanderingeditor @nionis I have already built a dApp Tic-Tac-Toe in the "Build Tic-Tac-Toe Using HOPR" bounty, but I can't submit it because you didn't accept me, so please accept my application please.

[2022-09-11 17:12] nionis commented on #179
[code]

[2022-09-13 09:49] QYuQianchen opened #181 "Deploy subgraph for `valencia` release (`monte_rosa` environment)"
- [x] Deploy channels-only subgraph for valencia release.
- [x] Include NR events into the subgraph
- [x] Deploy new channel subgraph for the monte_rosa environment.

[2022-09-15 07:33] nionis opened #183 "Update hopr-visual to use Monte Rosa"
Blocked by https://github.com/hoprnet/hopr-community/issues/181

1. Once https://github.com/hoprnet/hopr-community/issues/181 is closed, we can update `hopr-visual` to use a new smart contract.
2. Update `hopr-visual` title

[2022-09-15 07:54] #181 closed

[2022-09-15 12:47] nionis commented on #183
Fixed in c8447f314e29b21a1aae93a957444d935a12dd1b

[2022-09-15 12:47] #183 closed

[2022-09-22 09:24] vanoob404 commented on #179
Sorry I will not be able to complete this project... I m busy these days and will be busy for more 3-4 days.

 It a bit tricky project though. I m excited to see what others have done.

I seeking for more opportunities to work with you.

[2022-09-30 16:27] ginanisque commented on #175
Hi. I fixed the second problem. As to the first, I'm a bit confused as to what api v2 means. I appended `/api/v2` to the hopr node urls (https://github.com/ginanisque/hopr-hangman/blob/master/src/connectivity/hoprNode.js#L31). Is there something else I should be doing?

[2022-09-30 18:08] thewanderingeditor commented on #173
@rohitkumarvarma-369 Any news here? If not then I'd open this up to another hunter

[2022-09-30 18:09] thewanderingeditor commented on #172
@libengd Any news here? If not I'd open this up to another hunter

[2022-10-03 13:52] nionis commented on #175
hey @ginanisque, yes, API v2 has a different schema, please check https://docs.hoprnet.org/developers/rest-api to see how every path looks like.

[2022-10-03 13:54] ginanisque commented on #175
Thanks for the response. I will make corrections.

On Mon, 3 Oct 2022, 2:52 pm Steve, ***@***.***> wrote:

[2022-10-04 09:25] ginanisque commented on #175
Hello and good day. Please check this:
https://github.com/ginanisque/hopr-hangman. Corrections have been made.

Thanks.

On Mon, 3 Oct 2022, 2:54 pm Eunice Oghinan, ***@***.***> wrote:

[2022-10-11 07:15] ginanisque commented on #175
I have made fixes and updated the PR. Thanks for pointing out the issues. Please check out the Updates here: ginanisque/hopr-hangman (github.com) Sent from Mail for Windows From: SteveSent: Monday, 3 October 2022 2:52 pmTo: hoprnet/hopr-communityCc: ginanisque; MentionSubject: Re: [hoprnet/hopr-community] Build Hangman using HOPR (Issue #175) hey @ginanisque, yes, API v2 has a different schema, pl

[2022-10-11 07:32] Rohitkumarvarma-369 commented on #173
Hey, apologies for not getting back to you sooner, I was busy with some
other work, and didn't get enough time to work on the problem. Thanks for
getting back to me, maybe some other hunter can get started with the
problem.

On Fri, Sep 30, 2022 at 11:38 PM thewanderingeditor <
***@***.***> wrote:

[2022-10-11 16:10] libengd commented on #172
Hi, what do you mean? I submitted it 22 days ago

[2022-10-11 16:15] libengd commented on #172
https://github.com/libengd/connect-four

[2022-10-11 16:16] libengd commented on #172
It was submitted on gitcoin 22 days ago you can see on gitcoin page

[2022-10-11 17:17] thewanderingeditor commented on #172
Hi @libengd Huge apologies. My original response to your PR doesn't seem to have published. I had a question about the extra stipulations for the task:

`Play should be on a standard 7x6 board by default, but with the option to specify different dimensions or turn on cylinder rules (where connections can be made across the far left and far right columns).`

Were you able to implement this? I could

[2022-10-12 05:38] libengd commented on #172
@thewanderingeditor  repo is updated! Added two sliders for dimensions and cylinder rule :)

[2022-10-12 18:42] thewanderingeditor commented on #173
Hey @h1xten. Cool. I'll shift the bounty over to you ASAP. Looking at your PR, it looks like it was developed for API v1, not v2? You can find the HOPR dApp standard [here](https://github.com/hoprnet/hopr-community/blob/main/DAPP_STANDARD.md).

[2022-10-12 18:49] h1xten commented on #173
Thank you for your reply. I used API v2. For example you can check endpoints here: https://github.com/h1xten/tic-tac-toe-hopr/blob/main/src/store/peerSlice/peerApi.js

[2022-10-12 18:56] h1xten commented on #173
Wonderful. Waiting for your reply :)

[2022-10-12 19:03] thewanderingeditor commented on #172
@libengd Awesome. One thing that would be cool is if the second player could just connect and the settings would be applied automatically. At the moment it's possible for players to connect to the same game but with different settings applied, which gets exciting when one player's board fills up and the other still has spaces :)

[2022-10-12 19:26] libengd commented on #172
Hmm, this is how it should work if I understand you correctly. Can you send screenshot or video of what you mean?

[2022-10-14 15:06] h1xten commented on #173
Hello, is there any new information on my project?

[2022-10-16 11:17] h1xten commented on #173
@thewanderingeditor  Hello, is there any new information on my project?

[2022-10-22 13:49] h1xten commented on #173
Hello, is there any new information on my project?

[2022-10-25 13:12] h1xten commented on #173
There is already someone working on this bounty.

[2022-10-25 13:16] h1xten commented on #173
@thewanderingeditor I think you should reject the previous worker

[2022-10-27 07:01] nionis commented on #179
Bounty closed and paid.

[2022-10-27 07:01] #179 closed

[2022-10-27 07:06] nionis commented on #175
@thewanderingeditor can you check @ginanisque submission once you are back from holidays?

[2022-10-27 07:12] nionis commented on #173
@thewanderingeditor I tried to remove @Rohitkumarvarma-369 from the bounty but couldn't, I suspect I can't do that, maybe a permissions issue? - please follow up with @h1xten once it's re-assigned

[2022-10-27 07:13] nionis commented on #172
@thewanderingeditor can you follow up with @libengd once you are back from holidays?

[2022-10-27 23:44] thewanderingeditor commented on #173
Done. Can you try applying now?

[2022-10-28 07:04] nionis opened #185 "update dune analytics"
### Job Story

### Description

### Definition of Done

### Developing HOPR

- [running HOPR locally](https://docs.hoprnet.org/developers/starting-local-cluster#local-setup)

### What is HOPR?

Find out more about HOPR at the following links:

- [HOPR Website](https://hoprnet.org)
- [hoprnet monorepo](https://github.com/hoprnet/hoprnet)
- [hoprnet docs](http://docs.hoprnet.org)
- [discord](https:/

[2022-10-28 07:36] h1xten commented on #173
I did

[2022-10-29 17:51] h1xten commented on #173
@thewanderingeditor I did everything and submit the work, check it please

[2022-11-02 13:37] h1xten commented on #173
@nionis @thewanderingeditor I did everything, what should I do next?

[2022-11-02 13:55] thewanderingeditor commented on #173
Hi @h1xten. Sorry for the delay. I'm back from holidays now and will check your work this afternoon. Thanks for your patience.

[2022-11-02 22:25] thewanderingeditor commented on #173
@h1xten This looks great, but it seems to be using API v1 rather than v2? You can learn more [here](https://github.com/hoprnet/hopr-community/blob/main/DAPP_STANDARD.md).

If you're not sure how to update to API v2, I'd suggest visiting our Discord for help. This issue has come up with some of the other game bounties.

[2022-11-03 10:01] h1xten commented on #173
I used API v2. For example you can check endpoints here: https://github.com/h1xten/tic-tac-toe-hopr/blob/main/src/store/peerSlice/peerApi.js
It's not API v2?

[2022-11-03 10:02] h1xten commented on #173
I used API v2. For example you can check endpoints here: https://github.com/h1xten/tic-tac-toe-hopr/blob/main/src/store/peerSlice/peerApi.js
It's not API v2?

[2022-11-03 10:09] h1xten commented on #173
You already asked me about the API. I think I used the API correctly using your documentation.

![image](https://user-images.githubusercontent.com/85463779/199693901-fea0eec8-63b4-4dde-ba6a-72c62c32df52.png)
![image](https://user-images.githubusercontent.com/85463779/199693945-98b94528-1d42-424d-866c-b64fa92ef1f0.png)

[2022-11-03 13:39] h1xten commented on #173
Ah, okay, I'll redo it and write it, okay?

[2022-11-07 20:42] h1xten commented on #173
I redid it, now users do not need to specify ws, I checked it on the data provided by the playground. Check it, please)

[2022-11-07 22:58] h1xten commented on #173
@thewanderingeditor I redid it, you can check the repository again, and I also attach a demo video: https://youtu.be/2J9CHP9QKRQ

[2022-11-07 22:58] h1xten commented on #173
@thewanderingeditor I redid it, you can check the repository again, and I also attach a demo video: https://youtu.be/2J9CHP9QKRQ

[2022-11-08 18:28] thewanderingeditor commented on #173
Thanks! Checking now.

[2022-11-08 20:27] thewanderingeditor commented on #173
Hi @h1xten. Thanks for the update. Connection was smooth and it looks great. Just a couple of things:

- It would be great to acknowledge when the game is a draw, especially as this is the most common outcome for tic-tac-toe. At the moment the board just fills up, the game waits for the next turn, but there's nowhere to play

- Is there a way to start a new game after one finishes? I tried creatin

[2022-11-08 21:09] h1xten commented on #173
Hi @thewanderingeditor , thanks for the detailed answer. Since I started developing the application when I was not selected yet, so I did not take into account all the moments of the game, but now I will be happy to fix it and add everything that you indicated in the message, thanks for understanding )

[2022-11-10 21:39] h1xten commented on #173
Hello @thewanderingeditor , I did everything that you indicated in the message above, in addition, I added a message that the user was invited to the game and he can just accept it. Check it please. Demo: https://youtu.be/a6D-QCBszhs

[2022-11-12 15:45] h1xten commented on #173
Hi @thewanderingeditor sorry to bother you, what about this update?

[2022-11-13 12:08] thewanderingeditor commented on #173
Hi. Thanks for the fixes. Don't have full access to my GitHub this weekend,
but will check tomorrow morning.

On Sat, 12 Nov 2022, 17:45 Alexander, ***@***.***> wrote:

[2022-11-13 12:10] h1xten commented on #173
Oh, okay thanks, sorry to bother you over the weekend

[2022-11-15 09:59] thewanderingeditor commented on #173
Awesome work @h1xten! I particularly like the automatic invite popup. Everything seems to work great now. Will pay out on this this afternoon.

[2022-11-16 05:51] h1xten commented on #173
Thank you :)